node_modules/
build/
dist/
.snes/
*.log
.DS_Store
packages/*/build/
vendor/
examples/*/build/
examples/slime-knight/
examples/doodle-jump/
snesjs_engine_spec.md
examples/*/assets/*.pic
examples/*/assets/*.pal
examples/*/assets/*.inc
examples/*/assets/*_data.as
