node_modules/
build/
dist/
.snes/
*.log
.DS_Store
packages/*/build/
vendor/
examples/*/build/
snesjs_engine_spec.mdexamples/*/assets/*.pic
examples/*/assets/*.pal
examples/*/assets/*.inc
examples/*/assets/*_data.as
